@import 'normalize.css';
@import 'fonts.css';



*{
  padding: 0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

html, body {

  background-color: #D1E6B7;
  color:white;
  font-size:36px;
  font-family: "biko";
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
}

.nota{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.nota p{

  animation-name: bounceInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
